<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Ckfinder</title>
</head>
<body>
	<div id="page-content-wrapper">
		<h1 id="home" class="text-center font-bold mt-1">Integrate
			ckfinder into ckeditor in spring boot project</h1>
		<h2>ShareEverythings.com</h2>
		<!-- Section: Create Page -->
		<section class="section mt-5 container-fluid">
			<!-- First row -->
			<div class="row">
				<!-- First col -->
				<div class="col-lg-6">
					<h3>A. Integrate ckfinder into ckeditor</h3>
					<!-- Second card -->
					<div class="card mb-r">
						<textarea name="content" id="content"></textarea>
					</div>
					<!-- /.Second card -->
				</div>
				<!-- /.First col -->
				<div class="col-lg-6">
					<h3>B. Ckfinder Button</h3>
					<div class="avatar">
						<img id="imgpreview"
						src = "/uploadmedia/images/IMG_20171023_164428.jpg"
							class="img-fluid" style="max-width: 300px; max-height: 300px;" />
					</div>
					<div class="file-field">
						<p>
							<strong id="xImagePath">Selected Image URL</strong><br /> <input
								class="btn btn-primary btn-sm waves-effect waves-light"
								type="button" value="Browse Image"
								onclick="BrowseServer( 'Images:/', 'xImagePath' );" />
						</p>
					</div>

					<p>Note: You should select square image !</p>
				</div>

			</div>
			<!-- /.First row -->
		</section>
		<!-- /.Section: Create Page -->

	</div>
	<script th:src="@{/webjars/ckeditor/4.10.1/standard/ckeditor.js}"></script>
	<script src="ckfinder/ckfinder.js"></script>
	<script>
		CKEDITOR
				.replace(
						'content',
						{
							filebrowserBrowseUrl : 'ckfinder/ckfinder.html',
							filebrowserImageBrowseUrl : 'ckfinder/ckfinder.html?type=Images',
							filebrowserFlashBrowseUrl : 'ckfinder/ckfinder.html?type=Flash',
							filebrowserUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
							filebrowserImageUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
							filebrowserFlashUploadUrl : 'ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
						});
		/*Avatar start*/
		function BrowseServer(startupPath, functionData) {
			// You can use the "CKFinder" class to render CKFinder in a page:
			var finder = new CKFinder();

			// The path for the installation of CKFinder (default = "/ckfinder/").
			finder.basePath = '../';

			//Startup path in a form: "Type:/path/to/directory/"
			finder.startupPath = startupPath;

			// Name of a function which is called when a file is selected in CKFinder.
			finder.selectActionFunction = SetFileField;

			// Additional data to be passed to the selectActionFunction in a second argument.
			// We'll use this feature to pass the Id of a field that will be updated.
			finder.selectActionData = functionData;

			// Name of a function which is called when a thumbnail is selected in CKFinder. Preview img
			// finder.selectThumbnailActionFunction = ShowThumbnails;

			// Launch CKFinder
			finder.popup();
		}

		// This is a sample function which is called when a file is selected in CKFinder.
		function SetFileField(fileUrl, data) {
			document.getElementById(data["selectActionData"]).innerHTML = this
					.getSelectedFile().name;
			var str = "/uploadmedia"+fileUrl.slice(fileUrl.lastIndexOf("/images/"));
			document.getElementById("imgpreview").src = str;
			
		}
		/*Avatar end*/
	</script>
</body>
</html>